:root {
    --main-color: rgb(248, 247, 247);
    --main-bg: rgb(22, 148, 217);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100vh;
    display: grid; 
    grid-template-rows: minmax(150px, 150px) 1fr;
    grid-template-columns: minmax(200px, 220px) minmax(400px, 4fr);
    grid-template-areas:
    "sidebar header"
    "sidebar main"
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(22, 148, 217);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar span {
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
}

.sidebar1 span {
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.sidebar1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px
}
.middleList li, .bottomList li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px
}

.sidebar li {
    margin: 0 0 0 8px;
}

.sidebar2>ul, .sidebar3>ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar1 svg {
    height: 40px;
    width: 40px;
    fill: var(--main-color);
}

.middleList svg, .bottomList svg {
    height: 27px;
    width: 27px;
    fill: var(--main-color);
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

