:root {
    --main-color: rgb(248, 247, 247);
    --main-bg: rgb(22, 148, 217);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100vh;
    display: grid; 
    grid-template-rows: minmax(150px, 150px) 1fr;
    grid-template-columns: minmax(200px, 220px) minmax(500px, 4fr);
    grid-template-areas:
    "sidebar header"
    "sidebar main"
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(22, 148, 217);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar span {
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 500;
}

.sidebar1 span {
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.sidebar1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
}
.middleList li, .bottomList li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px
}

.sidebar li {
    margin: 0 0 0 0.5rem;
}

.sidebar2>ul, .sidebar3>ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sidebar1 svg {
    height: 40px;
    width: 40px;
    fill: var(--main-color);
}

.middleList svg, .bottomList svg {
    height: 24px;
    width: 24px;
    fill: var(--main-color);
}

.header {
    grid-area: header;
    padding: 0 clamp(1rem, 2rem, 2.6rem);
    padding-bottom: 1rem;

    display: grid;
    grid-template-columns: minmax(220px, 2.3fr) minmax(180px, 1.2fr);
    grid-template-rows: minmax(50%, 50%) minmax(50%, 50%);
    grid-template-areas: 
    "topLeft topRight"
    "bottomLeft bottomRight";
}

.header>.topLeft {
    grid-area: topLeft;
    display: flex;
    gap: 1.1rem;
    align-items: center;
}

.topLeft div {
    min-height: 40%;
    max-height: 40%;
    min-width: 200px;
    flex: 0.7;
    border-radius: 40px;
    background: rgb(185, 206, 221, 0.7);
}

.topLeft>svg, .topRight>svg {
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
    stroke: black;
}

.header .topRight {
    grid-area: topRight;
    display: flex;
    gap: clamp(1.3rem, 2rem, 2.1rem);
    justify-content: center;
    align-items: center;
}

.topRight img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.topRight p {
    font-weight: bold;
    font-size: 1.2rem;
}

.header .bottomLeft {
    grid-area: bottomLeft;
    display: flex;
    gap: 1.1rem;
    align-items: center;
}

.bottomLeft img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}

.bottomLeft>div :nth-child(1) {
    font-size: 0.9rem;
    font-weight: 500;
}

.bottomLeft>div :nth-child(2) {
    font-size: 1.3rem;
    font-weight: bold;
}


.header .bottomRight {
    grid-area: bottomRight;
    display: flex;
    align-items: center;
    gap: min(0.6rem, 1rem);
    justify-content: space-evenly;
}

.bottomRight button {
    all: unset;
    padding: 0.3rem 1.5rem;
    border-radius: 20px;
    color: var(--main-color);
    background: var(--main-bg);
}









.main {
    grid-area: main;
}

