:root {
    --main-color: rgb(248, 247, 247);
}

.container {
    height: 100vh;
    display: grid; 
    grid-template-rows: minmax(150px, 150px) 1fr;
    grid-template-columns: minmax(200px, 1fr) minmax(400px, 4fr);
    grid-template-areas:
    "sidebar header"
    "sidebar main"
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(20, 153, 225);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9px
}
.middleList li, .bottomList li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px
}

.sidebar li {
    margin: 0 0 0 6px;
}

.sidebar1>ul, .sidebar2>ul, .sidebar3>ul {
    padding: 0px;
}

.sidebar1 svg {
    height: 36px;
    width: 36px;
    fill: var(--main-color);
}

.middleList svg, .bottomList svg {
    height: 24px;
    width: 24px;
    fill: var(--main-color);
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

